infra/modules/maintenance/step-functions/state-machine.json
{
  "Comment": "Maintenance State Machine - シャドー整合性修復を並列実行",
  "StartAt": "GenerateSegments",
  "States": {
    "GenerateSegments": {
      "Type": "Pass",
      "Comment": "セグメント配列を生成",
      "Parameters": {
        "resource.$": "$.resource",
        "segments.$": "$.segments",
        "dryRun.$": "$.dryRun",
        "pageLimit.$": "$.pageLimit",
        "runId.$": "$$.Execution.Name",
        "segmentArray.$": "States.Array(0, 1, 2, 3, 4, 5, 6, 7)"
      },
      "Next": "ParallelWorkers"
    },
    "ParallelWorkers": {
      "Type": "Map",
      "Comment": "Worker Lambdaを並列実行",
      "ItemsPath": "$.segmentArray",
      "MaxConcurrency": 8,
      "Parameters": {
        "segment.$": "$$.Map.Item.Value",
        "resource.$": "$.resource",
        "segments.$": "$.segments",
        "dryRun.$": "$.dryRun",
        "pageLimit.$": "$.pageLimit",
        "runId.$": "$.runId"
      },
      "Iterator": {
        "StartAt": "InvokeWorker",
        "States": {
          "InvokeWorker": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${worker_function_arn}",
              "Payload": {
                "resource.$": "$.resource",
                "segment.$": "$.segment",
                "totalSegments.$": "$.segments",
                "dryRun.$": "$.dryRun",
                "pageLimit.$": "$.pageLimit",
                "runId.$": "$.runId"
              }
            },
            "ResultSelector": {
              "segment.$": "$.Payload.segment",
              "scanned.$": "$.Payload.scanned",
              "drifted.$": "$.Payload.drifted",
              "repaired.$": "$.Payload.repaired",
              "failed.$": "$.Payload.failed",
              "noop.$": "$.Payload.noop",
              "errors.$": "$.Payload.errors"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.workerResults",
      "Next": "AggregateResults"
    },
    "AggregateResults": {
      "Type": "Pass",
      "Comment": "結果を集約（配列として返す）",
      "Parameters": {
        "resource.$": "$.resource",
        "segments.$": "$.segments",
        "dryRun.$": "$.dryRun",
        "runId.$": "$.runId",
        "workerResults.$": "$.workerResults"
      },
      "End": true
    }
  }
}
